<!-- start custom footer snippets -->
<div style="width: 300px; margin: 0 auto">
  <script type="text/javascript" id="clustrmaps" src="//cdn.clustrmaps.com/map_v2.js?d=KT9Wj_ScBGwhngljyunPYjD1ukaG6-F7vslTpVT0Soc&cl=ffffff&w=a"></script>
</div>

<br><br><br><br>
		<table class="bc" align="center";>
			<tr>
				<th>
					<script type="text/javascript" src="https://ipaddress.is/js/ipwidget.js"></script>
					<script type="text/javascript">var ip_widget_var = ip_widget_var || [];ip_widget("#ffffff","#edfeff","#000000",0,0,800);</script>
					<noscript><a href="https://ipaddress.is">IP Address Lookup</a></noscript>
				</th>
				<th>
					&nbsp;&nbsp;&nbsp;<script type="text/javascript" src="https://widget.supercounters.com/ssl/hit.js"></script><script type="text/javascript">sc_hit(1206227,142,6);</script><br><noscript><a href="https://www.supercounters.com" target="_blank">Tumblr Hit Counter</a></noscript>
				</th>
			</tr>
		</table>
<!-- end custom footer snippets -->
